*Library/
Library/*
*.sln
*.csproj
*.svn
*.apk
StaticData.txt
*Temp/*
*/Temp/*
*/Temp
Temp/*
*/obj
*.suo
~*
*.csproj
*.unityproj
*.userprefs
Assets/ETU/Out/Pak/*
Assets/ETU/Out/Client/*
Assets/ETU/Out/Server/*

*.zip
Assets/protobuf-net/protobuf-net.csproj.meta
obj/Debug/*
StaticData/*
Assets/Resources/Data/*.json
Assets/Resources/Data/*.json.meta
screencaptures/
Assets/ETU/Out/Pak_cn/
Assets/ETU/Out/Pak_en/
Assets/ETU/Out/Pak_tw/
Asstes/ETU/Out/Client_en/*
Asstes/ETU/Out/Client_cn/*
Asstes/ETU/Out/Client_tw/*
Asstes/ETU/Out/Server_en/*
Asstes/ETU/Out/Server_cn/*
Asstes/ETU/Out/Server_tw/*
Assets/StreamingAssets/upk_en/*
Assets/StreamingAssets/upk_tw/*
Assets/StreamingAssets/upk_eu/*
Assets/UPK_tw/*
Assets/UPK_en/*
Assets/UPK_eu/*
AssetBundles_en/*
AssetBundles_tw/*
AssetBundles_eu/*
Assets/ETU/Out/Client_tw/
Assets/ETU/Out/Server_tw/
Assets/ETU/Out/Client_en/
Assets/ETU/Out/Client_cn.meta
Assets/ETU/Out/Client_eu.meta
Assets/ETU/Out/Server_cn.meta
Assets/ETU/Out/Server_eu.meta
runeList.json.meta
Assets/ETU/Out/Server_eu
Assets/ETU/Out/Server_cn
Assets/ETU/Out/Pak_eu
Assets/ETU/Out/Pak_cn.meta
Assets/ETU/Out/Pak_en.meta~overseas_release
Assets/ETU/Out/Pak_tw.meta~overseas_release
Assets/ETU/Out/Server_tw.meta~overseas_release
Assets/ETU/Out/Server_en
Library.android.bak
Library.ios.bak
Assets/ETU/Out
.vscode
